.col-md-7 col-lg-8{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.container{
    margin-bottom: 40px;
}
#logo img{
    max-width: 120px;
    padding: 0;
    margin: 0;
}
@media all and (max-width: 920px){
    #contacto{
        padding-left: 0;
        padding-right: 0;
    }
}
