
#logo img{
    max-width: 120px;
    padding: 0;
    margin: 0;
}
.container{
    margin-bottom: 40px;
    
}
.iFrame{
    margin-top: 50px;
    margin-bottom: 50px;

}
@media all and (max-width: 920px){
    #contacto{
        padding-left: 0;
        padding-right: 0;
    }
}
