#gamers{
    @include flex-center;
    align-items: center;
    background-color: $fondoOfertas;
    margin-top: 50px;
    .col{
        padding: 80px;
        .card{
            
            .card-img-top{
                height: 300px;
                width: auto;
                align-items: center;
                margin: 0 auto;
            }
        }
        
    }
}
img{
    max-width: 1000px;
}
#navGamers{
    background: $fondoOfertas;
    padding-bottom: 30px;
}
h1 p img{
    max-width: 600px;  
}
@media all and (max-width: 1440px){
    #gamers{
        .col{
            padding: 50px;
            .card-img-top{
                max-width: 170px;
                max-height: 200px;
            }
        }
    }
}

@media all and (max-width: 798px){
    h1{ 
        margin: 20px ;
    }
    #gamers{
        .col{
            padding: 30px;
            .card-img-top{
                max-width: 150px;
                max-height: 150px;
            }
        }
    }
}
@media all and (max-width: 765px){
    #gamers{
        .col{
            padding: 30px;
            .card-img-top{
                height: 300px;
                width: auto;
            }
        }
    }
    
}

