@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;   
}
@mixin imagenParrafost{
    flex-flow: row wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(238, 77, 14);
    font-family: Arial, Helvetica, sans-serif;  
}